#monthsList .list-cell {
    -fx-alignment: center;
}

.event-label {
    -fx-font-weight: bold;
}

.free-time-label {
    -fx-text-fill: #03fc13;
}

.work-label {
    -fx-text-fill: #fc0303;
}

.school-label {
    -fx-text-fill: #3f87d5;
}

.control-button {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #00b5b9;
    -fx-border-radius: 8 8 8 8;
}

.menu-button{
    -fx-font-size: 22px;
}

.control-button:hover {
    -fx-background-color:  #008385;
}

.ap {
    -fx-background-color: #F0F8FF;
}

.extra-day {
    -fx-background-color: #D3D3D3
}

.day {
    -fx-background-color: #FFFFFF
}

.weekday-header {
    -fx-background-color:  #008385
}

.weekday-header-label {
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 44px;
}